:root {
    --basic:#454545;
    --lighter:#FDF5E6;
    --light:#FAFAD2;
    --medium: #FFDAB9;
    --dark:#F5DEB3;
    --darker: #BC8F8F;
}

img {
    width: 100%;
}

.img-wrapper {
    max-width: 45rem;
    min-width: 20rem;
    padding: 1rem;
    border-radius: 3px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
}

.about-me-content {
    max-width: 45rem;
    min-width: 20rem;
    padding: 1rem;
}

.about-me-content p {
    font-size: 2em;
}

.about{
    display:flex; 
    flex-wrap: wrap;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;

}