footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  
  .social-icons {
    margin-bottom: 10px;
  }
  
  .social-icons a {
    color: #fff;
    margin: 0 10px;
    transition: color 0.3s ease;
  }
  
  .social-icons a:hover {
    color: #55acee; /* Change color on hover */
  }
  
  p {
    margin: 0;
  }