:root {
    --basic:#454545;
    --lighter:#FDF5E6;
    --light:#FAFAD2;
    --medium: #FFDAB9;
    --dark:#F5DEB3;
    --darker: #BC8F8F;
}


.nav {
    display:flex;
    gap: 1rem;
    padding: 1rem;
    justify-content: flex-end;
    background-color: var(--basic);
    margin-top:1;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.navy{
    color:var(--darker);
    font-size:medium;
    font-size:large;
 
}
.nav-item {
list-style: none;

}

.nav-item:hover{
    cursor:pointer;
    background-color: var(--lighter);
  
}